

        {% extends "base.html"%}
        {% load static %}
        
        {% block content %}
               
        
                <!-- Carousel Start -->
                <div class="carousel">
                    <div class="container-fluid">
                        <div class="owl-carousel">
                            <div class="carousel-item">
                                <div class="carousel-img">
                                    <img src="/static/img/carousel-1.jpg" alt="Image">
                                </div>
                                <div class="carousel-text">
                                    <h1>See the<span> Best</span> Recipe</h1>
                                    <p>
                                        A recipe has no soul.You as the cook,must bring soul to the recipe.
                                    </p>
                                    <div class="carousel-btn">
                                        <a class="btn custom-btn" href="view.html">View Recipe</a>
                                        <a class="btn custom-btn" href="recipe.html">Post Recipe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-img">
                                    <img src="/static/img/carousel-2.jpg" alt="Image">
                                </div>
                                <div class="carousel-text">
                                    <h1>World’s <span>Best Chef</span> Is You</h1>
                                    <p>
                                        Don't be afraid to adapt new ingredients into your own techniques and traditional ingredients into new recipes.
                                    </p>
                                    <div class="carousel-btn">
                                        <a class="btn custom-btn" href="view.html">View Recipe</a>
                                        <a class="btn custom-btn" href="recipe.html">Post Recipe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-img">
                                    <img src="/static/img/carousel-3.jpg" alt="Image">
                                </div>
                                <div class="carousel-text">
                                    <h1>Share your's <span>Recipe</span></h1>
                                    <p>
                                        There is no single recipe for success.But there is one essential ingridient:Passion.
                                    </p>
                                    <div class="carousel-btn">
                                        <a class="btn custom-btn" href="view.html">View Recipe</a>
                                        <a class="btn custom-btn" href="recipe.html">Post Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Carousel End --> 
         
                  
                <!-- Testimonial Start -->
                <div class="testimonial">
                    <div class="container">
                        <div class="owl-carousel testimonials-carousel">
                            <div class="testimonial-item">
                                <div class="testimonial-img">
                                    <img src="/static/img/shib.jpg" alt="Image">
                                </div>
                                <p>
                                Designer
                                </p>
                                <h2>Shibsankar Giri</h2>
                                <h3>Software Engineer</h3>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-img">
                                    <img src="/static/img/subhasis.jpg" alt="Image">
                                </div>
                                <p></p>
                                <h2>Subhasis Roy</h2>
                                <h3>Software Engineer</h3>
                                
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-img">
                                    <img src="/static/img/rajdeep.jpg" alt="Image">
                                </div>
                                <p>
                                 Codemaster 
                                </p>
                                <h2>Rajdeep Charaborty</h2>
                                <h3>Software Engineer</h3>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-img">
                                    <img src="/static/img/anuska.jpg" alt="Image">
                                </div>
                                <p>
                                
                                </p>
                                <h2>Anushka Debnath</h2>
                                <h3>Software Engineer</h3>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-img">
                                    <img src="/static/img/debjit.jpg" alt="Image">
                                </div>
                                <p>
                                
                                </p>
                                <h2>Debjit Roy</h2>
                                <h3>Software Engineer</h3>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Testimonial End -->
                
        
        
                 <!-- Blog Start -->
        
        <!-- Blog End -->

        
                {% endblock %}
              